p {
    font-size: 18px;
}

h1 {
    color: #682c0e;
    background-image: linear-gradient(transparent calc(55% - 4px), #fc8621 4px);
    background-size: 0;
    background-repeat: no-repeat;
    display: inline;
    transition: 2s ease;
}

h1:hover {
    background-size: 90%;
}

body {
    background-color: #f9e0ae;
}

.float-container {
    padding: 20px;
}

.float-child {
    width: 50%;
    float: left;
    padding: 20px;
}

#wrapper {
    width: 70%;
    margin: 0 auto;
}

.oneline {
    width: 100px;
    height: 100px;
    border: solid 1px #ccc;
    display: inline-block;
}

.center {
    margin: auto;
    width: 40%;
}

smap {
    color: #d4bbbb;
}

::-moz-selection {
    /* Code for Firefox */
    color: #ff7700;
    background: #ee8f3c85;
}

::selection {
    color: #ff7700;
    background: #ee8f3c85;
}

li a span {
    font-size: 30px;
    color: #c24914;
}

main .form-control {
    /* center form controls */
    display: inline-block;
    /* override Bootstrap's 100% width for form controls */
    width: auto;
}

main {
    padding: 2rem;
    /* scroll horizontally as needed */
    overflow-x: auto;
    /* center contents */
    text-align: center;
}

body::-webkit-scrollbar {
    width: 0.5rem;
}

body::-webkit-scrollbar-track {
    background: #f9e0ae;
}

body::-webkit-scrollbar-thumb {
    background: #ff7700;
}

.navbar::-webkit-scrollbar {
    width: 0.25rem;
}

.navbar::-webkit-scrollbar-track {
    background: #ffffff00;
}

.navbar::-webkit-scrollbar-thumb {
    background: #ffffff00;
}

.navbar {
    top: 0;
    width: 5rem;
    height: 100vh;
    position: fixed;
}

.navbar:hover {
    width: 16rem;
}

.navbar-nav {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
}

.nav-item {
    font-size: 18px;
}

.nav-item:last-child {
    margin-top: auto;
}

.nav-link {
    display: flex;
    align-items: center;
    height: 5rem;
    color: var(--text-primary);
    text-decoration: none;
    filter: grayscale(100%) opacity(0.7);
    transition: var(--transition-speed);
}

.nav-link:hover {
    filter: grayscale(0%) opacity(1);
    background: var(--bg-secondary);
    color: var(--text-secondary);
}

.link-text {
    display: none;
    color: black;
    font-size: 20px;
}

.nav-link svg {
    width: 2rem;
    min-width: 2rem;
    margin: 0 1.5rem;
}

ul {
    list-style-type: none;
}