{% extends "layout.html" %}

{% block title %}
    searched
{% endblock %}

{% block main %}

<form method="post">
    <ul class="form-style-1">
        <li><input type="text" name="title" class="form-control"  id="textalignment" value="{{ lookup(request.form.get('term'))['title'] }}" style='width: 100%;'/></li>
        <li><input type="text" name="title" class="form-control"  id="textalignm" value="{{ lookup(request.form.get('term'))['subtitle'] }}" style='width: 100%;'/></li>
        <li>
            <label><a href="{{ lookup(request.form.get("term"))['infoLink'] }}" target="_blank">URL of the book<span class="required">*</span></a></label>
            <input type="url" name="url" class="form-control" style='width: 100%;' value="{{ lookup(request.form.get("term"))['infoLink'] }}" id="textalign">
        </li>
        <li>
            <textarea name="description" rows="10" class="form-control" placeholder="nothing here..." style='width: 100%;'>{{ lookup(request.form.get("term"))['description'] }}</textarea>
        </li>
        <li>
            <input type="submit" value="add" class="btn btn-primary"/>
        </li>
    </ul>
    </form>



    <style type="text/css">
        .form-control, #textalignment, #textalign, #textalignm {
            border: none;
            background-color: rgba(255, 255, 255, 0);
        }
        #textalignment {
            text-align: center;
            font-size: 48px;
        }
        #textalign {
            font-size: 0px;
        }
        #textalignm {
            text-align: center;
            font-size: 30px;
            color: #544e4e;
        }
    </style>
{% endblock %}